
:host {

  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #f5f5f5;
  background-color: white;

  &:hover {
    background-color: #f6f6ff
  }

  &.selected {
    background-color: #ccccff;
    border: 1px solid #f6f6f6
  }

  &.predefined {
    color: #418bff;
  }

  &.empty {
    background-color: #efeffe;
  }

  &.error {
    background-color: #ffe0cf;
    &.strong {
      color: #f13726;
      border: solid 2px #f13726;
      scale: 1.2;
      z-index: 1;
    }
  }
}

span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 3px;
  font-size:8px;
  color: #bababa;
}

